<a href="/hobbies/list"></a>
<h1>Add Hobbies</h1>
<form action="/hobbies/create" method="post">
  <div>
    <label for="Hobby">Hobby</label>
    <br>
    <input type="text" name="hobby">
  </div>

  <div>
    <label for="Description">Description</label>
    <br>
    <textarea name="description"></textarea>
  </div>
  <input type="submit"  value="submit">
</form>
